.search-form-page {
    form.search-form {
        display: none;
    }
}

.search-page {
	h3 {
		font-size:20px;
		color: $black;
	}

	ul {
		li {
			margin-bottom: 35px;

			p {
				margin-bottom:35px;
			}
		}
	}

	.search-box {
		p {
			//font-weight:bold;
			margin:0 0 10px 0;
			line-height:20px;
		}
		
		.form-control {
			font-size: 16px;
		}

		input {
			border-radius:0px;
			height: 50px;
			width: 90% !important;
			@include screen-xxs {
				width: 87% !important;
			}
		}

		.btn {
			border-radius:0px;
			height: 50px;
			width: 20%;
			@include screen-xxs {
				width: 36%;
			}
		}
		
		.btn-white {
			&:active {
				color: white !important;
			}
			
			&:focus {
				color: white !important;
			}
			
			&:visited {
				color: white !important;
			}
		}
	}	
	
	.search-item {
		a {
			color: $scarlet;
			transition: all 0.5s ease-in-out;
			
			&:hover {
				text-decoration: none;
				color: $dark-scarlet;
			}
		}
	}
}