<div id="appeal" class="fade hidden">
    <div class="appeal-close-overlay" title="Close Overlay" name="Close Overlay"></div>
    <a href="http://www.easternstate.org/support/donate/FA2018/LB" title="Donate Now. Help bring the stories of criminal justice to light.">
        <img src="{{ path('<front>') }}themes/historic/assets/2018-annual-appeal.jpg" alt="Donate Now. Help bring the stories of criminal justice to light." />
    </a>
</div>
