 <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                <div class="map-image">
                    <div class="footer-detail">
                        <img src="{{front_page}}themes/historic/assets/footer/footer-logo@2x.png" alt="Site Logo" title="" />

                      
                        <address>
                                <a href="https://goo.gl/maps/ofLjV7XALXM2" target="_blank">2027 Fairmount Avenue <br />
                                Philadelphia, PA 19130 <br /></a>
                                Phone: <a href="tel:1-215-236-3300" target="_blank">(215) 236-3300 <br /></a>
                        </address>
                    </div>
                </div>

                <div class="newsletter-signup">
                    <div class="footer-detail">
                        <h2>Subscribe for our Newsletter!</h2>
						<label class="error-newsletter" style="color:#DB322B !important; display:none;"></label>
                        <div class="form-area">
                            <!-- <label for="subscribe">Subscribe For Our Newsletter</label> -->
                            <div class="form-inline">
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="email" class="form-control email-text" id="subscribe" placeholder=" john.smith@gmail.com">
                                </div>
                              </div>
                              <button type="submit" class="btn btn-white btn-subscribe">Subscribe</button>
                            </div>
                        </div>

                        <ul class="social-icons">

                <li class="facebook">
                    <a href="https://www.facebook.com/Eastern-State-Penitentiary-125028907507788/?ref=sgm" target="_blank"><svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="11.3px" height="20.3px" viewBox="0 0 11.3 20.3" enable-background="new 0 0 11.3 20.3"
                     xml:space="preserve">
                        <defs>
                        </defs>
                        <path fill="" d="M11.3,3.5H8C7.7,3.5,7.2,4,7.2,4.7V7h4v3.3h-4v9.9H3.4v-9.9H0V7h3.4V5.1C3.4,2.3,5.4,0,8,0h3.2V3.5z"/>
                    </svg></a>
                </li>

                <li class="twitter">
                   	<a href="https://twitter.com/easternstate" target="_blank"><svg version="1.1"
					 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
					 x="0px" y="0px" width="20.5px" height="16.7px" viewBox="0 0 20.5 16.7" enable-background="new 0 0 20.5 16.7"
					 xml:space="preserve">
					 <defs>
					</defs>
					<path fill="" d="M18.4,4.2c0,0.2,0,0.4,0,0.5c0,5.6-4.2,12-12,12c-2.4,0-4.6-0.7-6.5-1.9c0.3,0,0.7,0.1,1,0.1
						c2,0,3.8-0.7,5.2-1.8c-1.8,0-3.4-1.3-3.9-2.9c0.3,0,0.5,0.1,0.8,0.1c0.4,0,0.8-0.1,1.1-0.1C2.3,9.7,0.8,8,0.8,5.9c0,0,0,0,0-0.1
						C1.4,6.2,2,6.4,2.7,6.4c-1.1-0.8-1.9-2-1.9-3.5c0-0.8,0.2-1.5,0.6-2.1C3.5,3.3,6.6,5,10.1,5.2C10,4.9,10,4.5,10,4.2
						C10,1.9,11.9,0,14.2,0c1.2,0,2.3,0.5,3.1,1.3c1-0.2,1.9-0.5,2.7-1c-0.3,1-1,1.8-1.9,2.3C19,2.5,19.8,2.3,20.5,2
						C20,2.8,19.2,3.6,18.4,4.2z"/>
					</svg>  </a>              
				</li>

                <li class="instagram">
                    <a href="https://www.instagram.com/easternstate/" target="_blank"><svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="17.2px" height="17.2px" viewBox="0 0 17.2 17.2" enable-background="new 0 0 17.2 17.2"
                     xml:space="preserve">
                        <defs>
                        </defs>
                    <path fill="" d="M14.5,0H2.7C1.2,0,0,1.2,0,2.7v2.9h4.3c0.9-1.3,2.5-2.2,4.2-2.2c1.8,0,3.3,0.9,4.2,2.2h4.3V2.7
                        C17.2,1.2,16,0,14.5,0z M15.8,3.3c0,0.3-0.2,0.5-0.5,0.5h-1.4c-0.3,0-0.5-0.2-0.5-0.5V1.9c0-0.3,0.2-0.5,0.5-0.5h1.4
                        c0.3,0,0.5,0.2,0.5,0.5V3.3z"/>
                    <path fill="" d="M17.2,14.5c0,1.5-1.2,2.7-2.7,2.7H2.7C1.2,17.2,0,16,0,14.5V7.6h3.5c-0.1,0.3-0.1,0.7-0.1,1
                        c0,2.9,2.3,5.2,5.2,5.2c2.9,0,5.2-2.3,5.2-5.2c0-0.3,0-0.7-0.1-1h3.5V14.5z"/>
                    <circle fill="" cx="8.6" cy="8.6" r="3.2"/>
                    </svg></a>
                </li>

                <li class="pinterest">
                    <a href="https://www.pinterest.com/easternstate/" target="_blank"><svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="17.5px" height="22.5px" viewBox="0 0 17.5 22.5" enable-background="new 0 0 17.5 22.5"
                     xml:space="preserve">
                        <defs>
                        </defs>
                        <path fill="" d="M10.2,16.3c-1.4-0.1-1.9-0.8-3-1.4C6.6,18,5.9,21,3.7,22.5c-0.7-4.7,1-8.2,1.7-11.9C4.2,8.4,5.6,4,8.3,5.1
                            c3.3,1.3-2.9,8.1,1.3,8.9c4.4,0.9,6.2-7.6,3.5-10.4C9.2-0.3,1.7,3.6,2.6,9.3c0.2,1.4,1.7,1.8,0.6,3.7C0.7,12.5-0.1,10.5,0,7.8
                            c0.2-4.3,3.9-7.3,7.6-7.8c4.7-0.5,9.2,1.7,9.8,6.2C18.1,11.3,15.3,16.7,10.2,16.3z"/>
                    </svg></a>
                </li>

            </ul>

                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </footer>