{% if "now"|date("U") > promo_start_date|date("U") %}
    {% if "now"|date("U") < promo_end_date|date("U") %}
        <div id="promo" class="fade hidden">
            <div class="promo-close" title="Close Popup"></div>
            
            <a href="{{ promo_url }}" title="Terror Behind the Walls, a massive haunted house in a real prison">
                <img src="{{ path('<front>') }}themes/historic/assets/promo/promo.jpg" alt="Terror Behind the Walls, a massive haunted house in a real prison" title="Terror Behind the Walls, a massive haunted house in a real prison" class="promo-background" />
            </a>
        </div>
    {% endif %}
{% endif %}
