


<div class="subpage-hero-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="subpage-hero-details generic-hero" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 49%,rgba(0,0,0,0.01) 50%,rgba(0,0,0,0.35) 100%), url({{ path('<front>') }}themes/historic/assets/hero-images/hero-image-01@2x.jpg);">
                            <section>
                                <h1 class="subpage-title">Search</h1>
                            </section>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="main-content-subpages search-page">

            <div class="container-fluid">

                <div class="padded-box">
                	
                	<div class="row">
                        <div class="col-md-8">
                            <div class="search-box">
                                <label>Search by keyword or title:</label>

                                <form class="form-inline" action="/easternstate/search/node">
                                    <button type="submit" class="btn btn-white" style="float: right;">Submit</button>
                                    <div style="overflow: hidden;">
                                        <input style="width: 100%" placeholder="Enter Search..." name="keys" class="form-control" type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                

                    <div class="">
                        
                        <div class="row">
                        	
                        	<div class="col-md-8">
                        		
                        		{% if not items is empty %}									
									
									<ul class="list-unstyled">
                                		
                                		{% if context.list_style %}
							              {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
							            {% endif %}
							            {% if items or empty %}
							            
							              {%- if items -%}
							                <div class="search-item">
							                  {%- for item in items -%}
							                    <li>
							                    {{ item.value }}
			                                    <hr>
			                                </li>
			                                
							                  {%- endfor -%}
							                </div>
							              {%- endif -%}
							            {%- endif %}
	            
										</ul>
								    
									{% else %}
										<div class="no-results" style="display:none;">
								            <h2 class="text-muted">No results found</h2>
											<p class="text-muted"><em>Try expanding or refining your search keywords or terms.</em></p>
										</div>
									{% endif %}
	                        		
	                        		
	                        	</div>
	                        	
	                        </div>
	                        
	
	                    </div>
	
	                </div>
	
	            </div>
	
	
	        </div>
	        
	
	<script type="text/javascript">
		function getParameterByName(name, url) {
		    if (!url) {
		      url = window.location.href;
		    }
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		
		var val = getParameterByName('keys');
		
		if(val != null) {
			$('.no-results').show();
		}
	</script>	        
	{#
	/**
	 * @file
	 * Theme override for an item list.
	 *
	 * Available variables:
	 * - items: A list of items. Each item contains:
	 *   - attributes: HTML attributes to be applied to each list item.
	 *   - value: The content of the list element.
	 * - title: The title of the list.
	 * - list_type: The tag for list element ("ul" or "ol").
	 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
	 * - attributes: HTML attributes to be applied to the list.
	 * - empty: A message to display when there are no items. Allowed value is a
	 *   string or render array.
	 * - context: A list of contextual data associated with the list. May contain:
	 *   - list_style: The custom list style.
	 *
	 * @see template_preprocess_item_list()
	 */
	#}