#promo {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 100000;
    left: 0;
    right: 0;
    padding: 100px;
    text-align: center;

    @media all and (max-width: 640px) {
        padding: 40px 20px;
    }

    a {
        display: inline-block;
        cursor: pointer;
        position: relative;
        vertical-align: top;
        width: 398px;
        height: 368px;
        border: 2px solid;
        position: relative;
        margin: 0 10px;

        @media all and (max-width: 640px) {
            display: block;
            width: 96%;
            height: 250px;
            margin-bottom: 10px;
            overflow: hidden;
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            padding: 10px;
            bottom: 0;
            text-align: right;
        }
    }
    img {
        max-width: 100%;
    }
    p {
        color: white;
        font-size: 18px;
        
        b {
            opacity: 0.85;
        }
    }

    .promo-esp {
        border-color: white;

        span {
            background: white;
            color: black;
        }
    }
    .promo-tbtw {
        border-color: #a9110c;

        span {
            background-color: #a9110c;
            color: white;
        }
    }
}

#appeal {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 100000;
    left: 0;
    right: 0;
    padding: 100px;
    text-align: center;

    @media all and (max-width: 640px) {
        padding: 40px 20px;
    }

    .appeal-close-overlay {
        background: rgba(0,0,0,0.65);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    a {
        display: inline-block;
        cursor: pointer;
        position: relative;
    }
    img {
        max-width: 960px;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);

        @media all and (max-width: 640px) {
            max-width: 640px;
            box-shadow: 0 0 15px rgba(0,0,0,0.35);
        }
    }
}
